# Environment
venv/
.env
.venv
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Project Specific Data
temp_files/
agents_platform.db
db_history_agent_*/
db_vectors/
some_test_initial/
db_history/
knowledge/

# IDEs
.vscode/
.idea/
